$icon-font-path: '../fonts/';
$fa-font-path: "../../bower_components/components-font-awesome/fonts";

// bower:scss
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  color: #38232F;
  margin: 0px 0px 0px 0px;
  background-color: #85BF96;
}

.text-align-right {
  text-align: right;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#left-pane {
  width: 100%;
  height: 100%;
  position: relative;
}

#card-detail {
  width: calc(100% - 40px);
  height: calc(100% - 60px);
  margin-top: 20px;
  margin-left: 20px;
  background-color: black;
  position:absolute;
  display:none;
}

#card-detail-header {
  background-color: #85BF96; // done
  width: 100%;
  height: 20%;
  position: relative;
}

#card-detail-header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

#card-detail-header-title-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: table;
  padding-left: 20px;
  padding-right: 20px;
}

#card-detail-header-title {
  display: table-cell;
  vertical-align: middle;
  font-size: 48px;
  text-shadow:
   -1px -1px 0 #FFF8CF,
    1px -1px 0 #FFF8CF,
    -1px 1px 0 #FFF8CF,
     1px 1px 0 #FFF8CF;
}

#card-detail-body {
  width: calc(100% - 40px);
  height: 80%;
  background-color: #FFF8CF; //done
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  overflow-y: auto;
}

.card-detail-body-item {
  padding-bottom: 20px;
}

.card-detail-body-item-accessory {
  padding-right: 10px;
}

#card-action {
  width: 30%;
  height: 100%;
  background-color: #38232F; // done
  display: block;
}

#card-action-input {
  width: calc(100% - 40px);
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#card-action-item-container {
  height: calc(100% - 96px);
  overflow-y:auto;
  background-color: #FFF8CF;
  padding: 0px 20px 20px 20px;
  font-size:20px
}

.card-action-item {
  width: 100%;
  height: 50px;
  display: table;
}

.card-action-item > span {
  display: table-cell;
  vertical-align: middle;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}
